* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Open Sans, sans-serif;
}

#navbar {
  display: grid;
  align-items: center;
  grid-template-columns: 20% 1fr;
  position: absolute;
  right: 0;
  left: 0;
  height: 5vh;
  padding-left: 2vh;
  padding-right: 2vh;
  font-size: 0.8rem;
  background-color: white;
}

.nav-links {
  display: flex;
  justify-content: center;
}


.nav-links a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* pseudo-class to select every child except the last one */
a:not(:last-child) {
  padding-right: 5vw;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5vh;
  left: 0;
  right: 0;
  bottom: 5vh;
  background-color: #E0FBFC;
  padding: 0 10vw;
}

img {
  width: 70vw;
  margin-bottom: 5%;
}

h1 {
  text-align: center;
  margin-bottom: 5%;
}

section p {
  font-size: 0.85rem;
  margin-bottom: 5%;
}

button {
  margin-top: 1.5vh;
  background-color: #253237;
  color: white;
  padding: 7.5px 15px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 600;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 5vh;
  background-color: #5C6B73;
  color: white;
  font-size: 0.5rem;
  padding: 0 5vw;
}

footer p {
  text-align: end;
}


footer a {
  font-size: 0.6rem;
  text-decoration: none;
  color: white;
  
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  section {
    display: flex;
    flex-direction: column;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #navbar {
    font-size: 1rem;
  }

  button {
    margin-left: 5vw;
  }

  .info {
    font-size: 1.3rem;
  }

  footer a {
    font-size: 0.8rem;
  }

  footer p {
    font-size: 0.7rem;
  }
}

@media only screen and (min-width: 1025px) {
  #navbar {
    font-size: 1rem;
  }

  button {
    margin-left: 5vw;
  }

  .info {
    font-size: 1.3rem;
  }

  footer a {
    font-size: 0.8rem;
  }

  footer p {
    font-size: 0.7rem;
  }
}