* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

#navbar {
  display: grid;
  align-items: center;
  grid-template-columns: 40% 1fr;
  position: absolute;
  right: 0;
  left: 0;
  height: 5vh;
  padding-left: 2vh;
  padding-right: 2vh;
}

.nav-links {
  display: flex;
  justify-content: center;
}

.nav-links button {
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 2.5vw;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5vh;
  left: 0;
  right: 0;
  bottom: 5vh;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 5vh;
  background-color: #000000;
  color: white;
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
  section {
    display: flex;
    flex-direction: column;
  }
  img {
    width: 80vw;
  }
}