* {
  /* Reset point */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Sets all font to Open Sans and Sans serif as the alt font */
  font-family: "Open Sans", sans-serif;
}

body {
  /* Flexbox layout */
  display: flex;
  /* Vertically positions the header, body and footer*/
  flex-direction: column;
  /* Body occupies 100% of the viewport height */
  min-height: 100vh;
}

#navbar {
  /* Grid layout  */
  display: grid;
  /* Horizontally positions the containers in the navbar and gives a 10% space for the logo and 1fr gives the links the remaining space*/
  grid-template-columns: 10% 1fr; 
  /* Short hand property provides spacing outside the content */
  padding: 2vh 5vw;
  /* sets font size relative to the root element. Default is 16px on most browsers */
  font-size: 0.8rem;
}

.nav-link-bar {
  display: flex;
  /* Spacing between container columns */
  column-gap: 6vw;
  /* Places containers to the end side*/
  justify-content: end;
}

/* Change font colour and removes underline from hyperlinks in the navbar */
.nav-link-bar a {
  color: black;
  text-decoration: none;
}

section, article {
  /* Allows section to grow and expand to take up the remainder of the viewpoint height */
  flex-grow: 1;
  /* Changes background colour */
  background-color: #E0FBFC;
  padding: 5vh 10vw;
}


article {
  display: flex;
  flex-direction: column;
  /* Gives a gap between each project container */
  row-gap: 10vw;
}


.blog-list {
  display: flex;
  /* Column direction for content in the blog list */
  flex-direction: column;
  background-color: #E0FBFC;
  padding-top: 4.5vh;
  /* Aligns content to the center */
  align-items: center;
}

.blog-list a {
  /* Spacing between blog post list items */
  line-height: 4vh;
}

/* Link colour for unvisited link  */
.blog-list a:link, .blog-container a:visited {
  color: black;
}

/* Link colour for visited link  */
.blog-list a:visited, .blog-container a:visited {
  color: Black;
}

/* Link colour for link when hovered  */
.blog-list a:hover, .blog-container a:visited {
  color: Black;
}


.about-container, .project-container, .blog-container{
  display: flex;
  /* Column direction for content in container */
  flex-direction: column;
  /* Align content to the center */
  align-items: center;
  /* Gives a gap between text and buttons */
  row-gap: 3vh;
}

.contact-container {
  display: flex;
  /* Row direction for content in container */
  flex-direction: row;
  align-items: center;
  /* Gives a gap between icon and text */
  column-gap: 5vw;
  /* Gives a gap between each contact container*/
  margin-bottom: 2vh;
}

/* Places container in the center of the page */
.info-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Places container in the center of the page and gives a column layout */
.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Top margin added to the button for spacing */
.info-container button {
  margin-top: 2vh;
}

/* Bottom margin added for spacing */
.info-text {
  margin-bottom: 5vh;
}

/* Top padding added for spacing and added a background colour */
.main-heading {
  padding-top: 4.5vh;
  background-color: #E0FBFC;
}

/* Bottom margin for selected paragraphs added for spacing  */
.about-me p {
  margin-bottom: 2vh;
}

/* Top margin for selected headings added for spacing  */
.about-me h1 {
  margin-top: 2vh;
}

/* For selectors/elements below:
Spacing for headings and text. Suitable font sizes and image sizes for mobile first approach. */
h1 {
  text-align: center;
  margin-bottom: 2vh;
  font-size: 1.5rem;
}

h2 {
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 1.5vh;
}

p {
  font-size: 1rem;
}

.publish-date {
  text-align: start;
  font-size: 0.85rem;
  margin-top: -1vh;
  margin-bottom: 1vh;
}

figcaption {
  font-size: 0.8rem;
  text-align: center;
}

.my-photo {
  width: 70vw;
  max-width: 350px;
}

.project-thumbnail, .blog-photo {
  max-width: 250px;
}

.icon-logo {
  width: 10vw;
  max-width: 40px;
}

button {
  /* Button colour */
  background-color: #253237;
  /* Text colour */
  color: white;
  /* Used pixels as the button looked very awkward using vw and vh and the one size looked fine for all breakpoints */
  padding: 7.5px 15px;
  /* Removes border from button */
  border: none;
  /* Gives corner roundness */
  border-radius: 7px;
  /* A pointer cursor shown when cursor is over a button  */
  cursor: pointer;
  /* Bolder text */
  font-weight: 600;
  font-size: 0.9rem;
}

.about-me-buttons {
  display: flex;
  /* Row layout for buttons */
  flex-direction: row;
  justify-content: center;
  /* Spacing between buttons */
  column-gap: 20px;
}

footer {
  display: flex;
  /* Gives equal space between content in the footer */
  justify-content: space-between;
  align-items: center;
  padding: 2vh 5vw;
  background-color: #5C6B73;
}

footer a, footer p {
  color: white;
  /* Removes underline from hyperlink */
  text-decoration: none;
  font-size: 0.7rem;
}

.footer-link {
  display: flex;
  /* Spacing between links */
  column-gap: 5vw;
}

/* Responsiveness for tablet devices */
@media only screen and (min-width: 750px) and (max-width: 1199px) {
  article {
    display: flex;
    /* Row layout */
    flex-direction: row;
    /* Forces the flex containers to stay within the page extents */
    flex-wrap: wrap;
    padding: 5vh 5vw;
    /* Gives a gap between each pair of container */
    justify-content: space-between;
  }

  .project-container, .blog-container {
    /* Each container element will take 50% of width. 3vw will be the space between each pair */
    width: calc(50% - 3vw); 
  }

  .contact-section {
    display: flex;
    /* Centers items at breakpoint */
    justify-content: center;
  }

  /* Added a fixed column gap between icons and text */
  .contact-container {
    column-gap: 40px;
  }
  
  /* Suitable font sizes for selects/elements below */
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  p {
    font-size: 1.1rem;
  }

  #navbar {
    font-size: 1rem;
  }

  figcaption {
    font-size: 0.95rem;
  }

  footer a, footer p {
    font-size: 0.9rem;
  }

  button {
    font-size: 1rem;
  }
}

/* Responsiveness for desktops */
@media only screen and (min-width: 1199px) {
  article {
    display: flex;
    /* Row layout */
    flex-direction: row;
    /* Forces the flex containers to stay within the page extents */
    flex-wrap: wrap;
    padding: 5vh 5vw;
    /* Gives a gap between each pair of container */
    justify-content: space-between;
  }

  /* Changed from column to row and added column gap */
  .about-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 3vw;
  }

  .contact-section {
    display: flex;
    /* Centers items at breakpoint */
    justify-content: center;
  }
  
  .contact-container {
    column-gap: 40px;
  }

  /* Restricted max width for better responsiveness */
  .about-me {
    max-width: 800px;
  }

  /* Changed to row for better responsiveness for the size */
  .blog-container {
    display:flex;
    flex-direction: row;
    column-gap: 5vw;
    /* Positions items to the start of the container */
    align-items: start;
    justify-content: center;
  }

  /* Showing all 4 projects in 1 line with space in between containers */
  .project-container {
    width: calc(25% - 3vw);
  }

  /* Suitable font sizes for selects/elements below */
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  p {
    font-size: 1.1rem;
  }

  #navbar {
    font-size: 1rem;
  }

  figcaption {
    font-size: 0.95rem;
  }

  footer a, footer p {
    font-size: 0.95rem;
  }

  .publish-date {
    font-size: 0.9rem;
  }

  button {
    font-size: 1rem;
  }
}